hdyswitcher > button {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 12px;
    border-radius: 0;
    border-color: transparent;
    border-width: 0 1px;
    background: transparent;
    box-shadow: none;
    font-size: 1rem;
    min-height: 38px;
}

hdyswitcher > button:hover:not(:checked) {
    background: lighter(@theme_bg_color);
}

hdyswitcher > button:checked {
    font-weight: bold;
    border-left-color: @borders;
    border-right-color: @borders;
    background: darker(@theme_bg_color);
}

hdyswitcher > button .narrow {
    font-size: 0.75rem;
}
