hdyswitcher {
    margin: 0;
    padding: 0;
}

hdyswitcher > button {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
    font-size: 1rem;
}

hdyswitcher > button:not(:checked) {
    background: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

hdyswitcher > button:hover:not(:checked) {
    background: darker(@theme_base_color);
}

hdyswitcher > button .narrow {
    font-size: 0.75rem;
    padding: 4px 6px;
}

hdyswitcher > button .wide {
    padding: 8px 12px;
}

headerbar hdyswitcher {
    min-height: 46px;
}

.hdy-secondary-switcher revealer > box {
    padding: 0;
}
